---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/ui/Navbar.astro";
import ErrorAlert from "../components/ui/ErrorAlert.astro";
import Trending from "../components/ui/Trending.astro";
import Articles from "../components/ui/Articles.astro";
import UserLive from "../components/ui/UserLive.astro";
import OrderArticle from "../components/icons/OrderArticle.astro";
import LocationNews from "../components/ui/LocationNews.astro";
import IconStar from "../components/icons/IconStar.astro";
import IconLogoWhite from "../components/icons/IconLogoWhite.astro";
import IconUndefined from "../components/icons/IconUndefined.astro";
import IconX from "../components/icons/IconX.astro";
import IconFacebook from "../components/icons/IconFacebook.astro";
import IconReddit from "../components/icons/IconReddit.astro";
---

<Layout title="Welcome to Astro.">
	<Navbar />
	<div class="container w-11/12 mx-auto">
		<Trending />
	</div>
	<div class="container mx-auto">
		<ErrorAlert />
	</div>
	<div class="container w-11/12 mx-auto lg:flex">
		<UserLive class="order-2 lg:hidden" />
	</div>

	<Articles />
	<div class="container w-11/12 mx-auto mt-8 lg:flex">
		<LocationNews class="lg:hidden" />
	</div>

	<div class="container w-11/12 mx-auto mt-8">
		<div class="flex mt-8 items-center gap-x-[18px]">
			<h3 class="text-lg font-semibold">Editor’s Picks</h3>
			<IconStar />
		</div>
		<div class="carrocel_base">
			<div class="carrocel">
				<div class="relative lg:w-auto lg:flex">
					<div class="relative w-[265px]">
						<span
							class="absolute lg:right-2 bg-card mt-3 ml-3 px-2 py-1 rounded-lg text-white"
							>CORONA</span
						>
						<h4
							class="absolute md:p-1 md:text-xs break-words lg:hidden bottom-0 px-3 py-4 font-bold text-sm text-white"
						>
							Serological surveys are being conducted to test for
							coronavirus antibodies. How useful are they?
						</h4>
						<img
							src="/imgs/img-1.jpg"
							alt="Image 01"
							class="carrocel__image"
						/>
					</div>
					<div class="ml-1 hidden lg:block">
						<h4
							class="lg:text-primary py-1 font-bold text-sm text-white"
						>
							Serological surveys are being conducted to test for
							coronavirus antibodies. How useful are they?
						</h4>
						<p class="text-sm">
							The authorities are hoping to find that a
							substantial proportion of the population has already
							been infected with the virus – and so is immune.
						</p>
					</div>
				</div>
				<div class="relative lg:w-auto lg:flex">
					<div class="relative w-[265px]">
						<h4
							class="absolute md:p-1 md:text-xs break-words lg:hidden bottom-0 px-3 py-4 font-bold text-sm text-white"
						>
							Making a mark in Asia: East Bengal’s 2003 Asean Cup
							win – a defining moment for Indian club football
						</h4>
						<img
							src="/imgs/img-2.jpg"
							alt="Image 02"
							class="carrocel__image"
						/>
					</div>
					<div class="ml-1 hidden lg:block">
						<h4
							class="lg:text-primary py-1 font-bold text-sm text-white"
						>
							Making a mark in Asia: East Bengal’s 2003 Asean Cup
							win – a defining moment for Indian club football
						</h4>
						<p class="text-sm">
							Beating some of the finest teams from South Asia,
							East Bengal became the first Indian club to win an
							officially recognised Asian football tournament.
						</p>
					</div>
				</div>
			</div>
			<div class="carrousel-position">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<footer class="bg-footer lg:h-[250px] flex flex-col justify-center">
		<div
			class="container w-11/12 mx-auto pt-8 sm:pt-0 lg:flex justify-between"
		>
			<div class="mb-4">
				<IconLogoWhite />
				<p class="text-sm text-center pb-4 hidden lg:block lg:mt-8">
					copyright  2020 | NBC NEWS
				</p>
			</div>
			<div
				class="flex justify-between text-white font-medium text-[13px]"
			>
				<ul class="text-[15px]">
					<li>Privacy Policy</li>
					<li>Do not sell my personal info</li>
					<li>Terms of Service</li>
					<li>nbcnews.com Site Map</li>
				</ul>
				<ul class="lg:hidden text-[15px]">
					<li>About</li>
					<li>Contact</li>
					<li>Careers</li>
					<li>Coupons</li>
				</ul>
			</div>
			<div>
				<ul class="hidden lg:flex text-white gap-x-8 text-sm">
					<li>About</li>
					<li>Contact</li>
					<li>Careers</li>
					<li>Coupons</li>
				</ul>
				<div class="my-8 flex gap-x-8 justify-center">
					<IconUndefined />
					<IconX />
					<IconFacebook />
					<IconReddit />
				</div>
			</div>
			<hr class="mb-4 lg:hidden" />
			<p class="text-sm text-center pb-4 lg:hidden text-white">
				copyright  2020 | NBC NEWS
			</p>
		</div>
	</footer>

	<style>
		/* .carrocel_base {
			scroll-behavior: auto;
			scroll-snap-type: x mandatory;
			scrollbar-width: none;
			overflow-y: auto;
		} */

		.carrocel {
			display: grid;
			grid-auto-flow: column;
			scroll-behavior: auto;
			gap: 1.2rem;
			overflow-y: auto;
			scroll-snap-type: x mandatory;
			scrollbar-width: none;
			margin: 12px 0;
			padding: 10px 0;
		}
		.carrocel div,
		.carrocel__image {
			min-width: 265px;
			height: 160px;
			max-height: 160px;
		}
		.carrousel-position {
			@apply flex gap-x-4 justify-center;
			margin: 10px auto 30px auto;
		}
		@media (min-width: 1024px) {
			.carrousel-position {
				margin-top: 15px;
			}
		}
		.carrousel-position > div {
			@apply h-1 bg-card-light;
			width: 15px;
		}
		.carrousel-position > div:nth-child(3) {
			@apply bg-card;
		}
	</style>
</Layout>
