<div class="bg-card text-white py-3 my-5 lg:my-16">
    <div class="container w-11/12 mx-auto lg:flex lg:items-center justify-center gap-x-4">
        <div>
            <button
                class="px-2 lg:px-5 py-1 lg:py-4 bg-white text-second text-sm font-normal mt-2 mr-4"
                >Breaking News</button
            >
            <span class="opacity-70 text-xs lg:hidden">Tap to see the full story</span>
        </div>
        <p class="text-sm font-medium text-left mt-2 lg:mt-0 whitespace-nowrap -indent-1 overflow-clip lg:text-xl lg:indent-0">Kanye West says he's running for president in 2020.</p>
    </div>
</div>
